@import 'custom';
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap');



html{
    position: relative;
    min-height: 100%;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/images/fondEcran.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
  }


main{
    padding-top: 87px;
}

/* NavBar */

nav.nav{
    position: fixed;
    width: 100%;
    z-index: 1000; //il passe au dessus du hero
}



.titre {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.taille{
    font-size: large;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='red' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Footer */

.couleur{
    color: white;
}

.couleur:hover{
    color: $secondary;
}

.modalites{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    margin-bottom: 10px;   
}

footer p{
    font-size: small;
}

footer.footer{
    position: absolute;
    padding: 15px;
    bottom: 0;
}

/* Hero */
.cookie-regular {
    font-family: "Cookie", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.hero-scene{
    margin-bottom: 40px;
    position: relative;
    z-index: 1; //le menu burger passe au dessus
    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-image: url("/images/hero-scene.jpg");
        background-size: cover;
        filter: brightness(0.5); 
        z-index: 0; 
        border-radius: 20px 20px 100px 20px;
    }
    *{
        position: relative;
    }
    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

    }

    @media (max-width: 425px){
        .hero-scene-content{
            height: 200px;
        }
    }
}

/*Recherche*/

.recherche{
    width: 100%;
    height: 62px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.recherche-form{
    width: 100%;
}

.barre-recherche{
    width: 55%;
    height: 38px;
    font-size: 0.9rem;
    opacity: 0.9;
}

/*Nouveautés*/

.image{
    border-radius: 20px 20px 100px 20px;
    width:80%;
    height: auto;
}

.marge{
    margin-top: 40px;
}

/*Connexion*/

.form-label{
    color: $primary;
}


